@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600&display=swap");

*{
font-family: "Poppins", sans-serif;

margin: 8;
box-sizing: border-box;
}

body {
color: #fff;
background-color: #06041c;
}